@import './tailwind.css';

.htmx-indicator {
  opacity: 0;
  display: none;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
  display: inherit;
}
.htmx-request.htmx-indicator {
  opacity: 1;
  display: inherit;
}

[data-loading] {
  display: none;
}

.spinner.htmx-request {
  @apply animate-spin;
}
